.idea/
/presenceparser-java/presenceparser-java.iml
/presenceparser-java/target/
/presenceparser/target/
/presenceparser/presenceparser.iml
/configurations.conf
/node_modules/
/mqtt-client/node_modules/
